.theme_btn {
  background: $secondary_color;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 16px;
  color: $white;
  font-weight: 500;
  padding: 15px 38.5px;
  border: 1px solid transparent;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  text-transform: capitalize;
  line-height: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  &.radius_30 {
    @include border-radius(30px);
  }
  &.small_btn {
    padding: 13.5px 25px;
  }
  &:hover {
    color: $secondary_color;
    border-color: $secondary_color;
    background: $white;
  }
}
.theme_line_btn {
  background: $white;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $secondary_color;
  font-weight: 500;
  padding: 21px 23px;
  border: 2px solid $secondary_color;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  &.shadow_btn {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  }
  &.max_btn {
    width: 320px;
    @media #{$tab} {
      width: 280px;
    }
  }
  &.style2 {
    padding: 16px 23px;
    min-width: 220px;
  }
  &.style3 {
    padding: 11px 23px;
    min-width: 122px;
  }
  &.style4 {
    padding: 16px 23px;
  }
  @media #{$small_mobile} {
    padding: 15px 30px;
  }
  &.style5 {
    padding: 11px 23px;
    min-width: 160px;
  }
  &:hover {
    color: $white;
    border-color: $secondary_color;
    background: $secondary_color;
  }
}

.roundWhite_btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border: 0;
  path {
    transition: 0.3s;
  }
  &:hover {
    background: $secondary_color;
    path {
      fill: $white;
    }
  }
}

.HeartButton {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 0;
}

.badgeBtn {
  background: $secondary_color;
  @include border-radius(8px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 500;
  padding: 10px 15.5px;
  border: 1px solid transparent;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  text-transform: capitalize;
  line-height: 1;
  background: #007882;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  &:hover {
    color: $secondary_color;
    border-color: $secondary_color;
    background: $white;
  }
}
.badgeBtn2 {
  background: $white;
  @include border-radius(8px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $secondary_color;
  font-weight: 500;
  padding: 10px 15.5px;
  border: 1px solid transparent;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  text-transform: capitalize;
  line-height: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  &:hover {
    color: $white;
    border-color: $secondary_color;
    background: $secondary_color;
  }
}
.badgeBtn3 {
  background: $white;
  @include border-radius(8px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $secondary_color;
  font-weight: 500;
  padding: 10px 15.5px;
  border: 2px solid $secondary_color;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  text-transform: capitalize;
  line-height: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  &:hover {
    color: $white;
    border-color: $secondary_color;
    background: $secondary_color;
  }
}

.arrow_btn {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  grid-gap: 8px;
  color: $secondary_color;
  i {
  }
}
