.featureWidget {
  background-size: cover;
  background-position: center center;
  border-radius: 8px;
  .featureWidget_inner {
    z-index: 1;
    padding: 24px;
    min-height: 416px;
    max-height: 416px;
    position: relative;
    &::before {
      content: "";
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 49.48%,
        rgba(0, 0, 0, 0.6035) 100%
      );
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 8px;
    }
  }
  .featureWidget_info {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 18px 24px;
    .featureWidget_info_left {
      a {
        h4 {
          font-weight: 500;
          font-size: 18px;
          color: #110229;
          line-height: 26px;
          margin-bottom: 4px;
          transition: 0.3s;
          &:hover {
            color: $secondary_color;
          }
        }
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: $body_text;
        margin-bottom: 0;
        line-height: 20px;
      }
    }
    .featureWidget_prise {
      .discount {
        font-size: 14px;
        font-weight: 400;
        color: #999999;
        position: relative;
        margin-right: 18px;
        &::before {
          content: "";
          position: absolute;
          left: -6px;
          right: -6px;
          height: 1px;
          background: #999999;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .currentPrise {
        font-size: 18px;
        font-weight: 500;
        color: $secondary_color;
      }
    }
  }
}
