footer.home_one_footer {
  background: $white;
  position: relative;
  padding: 0px 139px 0px 139px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  @media #{$tab2} {
    padding: 0;
  }
  @media #{$lg_device} {
    padding: 50px 30px 55px 30px;
  }
  .main_footer_wrap {
    padding-top: 48px;
    padding-bottom: 16px;
    .footer_widget {
      margin-bottom: 30px;
      .footer_logo {
        margin-bottom: 10px;
      }
      .footer_title {
        h3 {
          font-family: $font1;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 19px;
          text-transform: capitalize;
          color: $black;
        }
      }
      .footer_links {
        li {
          &:not(:last-child) {
            margin-bottom: 13px;
          }
          a {
            font-size: 14px;
            font-weight: 400;
            color: $body_text3;
            line-height: 20px;
            font-family: $font1;
            &:hover {
              color: $secondary_color;
            }
          }
        }
      }
      .address_list {
        max-width: 270px;
        p {
          font-size: 14px;
          color: #656565;
          margin-bottom: 0;
          line-height: 1.86;
          font-weight: 500;
          margin-bottom: 15px;
          &:not(:last-child) {
            margin-bottom: 0;
          }
          span {
            font-weight: 700;
          }
        }
      }
      .large_address {
        font-size: 24px;
        font-weight: 700;
        color: $secondary_color;
        margin-bottom: 0;
      }
      .address_text {
        font-size: 14px;
        font-weight: 500;
        color: #0f111d;
        margin-bottom: 33px;
      }
    }
  }
  .copyright_area {
    padding-bottom: 22px;
    .footer_border {
      border-top: 1px solid #e5e7eb;
      margin-bottom: 22px;
    }
    .copy_right_text {
      p {
        margin-bottom: 0;
        font-size: 14px;
        color: $body_text3;
        font-weight: 400;
        display: flex;
        align-items: center;
        grid-gap: 8px;
        flex-wrap: wrap;
        a {
          color: $body_text3;
          &:hover {
            color: $secondary_color;
          }
        }
      }
    }
    .payment_imgs {
      text-align: right;
      margin-bottom: 30px;
      img {
        @media #{$small_mobile} {
          width: 100%;
        }
        @media #{$tab2} {
          width: 100%;
        }
      }

      @media #{$tab} {
        text-align: left;
      }
    }
  }
}

// copyright_wrapper
.footerLinks_right {
  grid-gap: 43px;
  @media #{$tab} {
    grid-gap: 20px;
  }
}

.language_links {
  grid-gap: 22px;
  a {
    color: $body_text3;
    .icon {
    }
    span {
      font-size: 14px;
      font-weight: 500;
      text-decoration: underline;
      color: $body_text3;
    }
  }
}
.social__Links {
  grid-gap: 23px;
  a {
    font-size: 18px;
    color: $body_text3;
    &:hover {
      color: $secondary_color;
    }
  }
}
.footerLinks_right {
}
