.Header_area {
  padding: 0 52px;
  transition: 0.3s;
  @media #{$tab2} {
    padding: 10px 0px;
  }
  @media #{$lg_device} {
    padding: 0 15px;
  }
  .navbar-collapse {
    @media #{$min_lg} {
      justify-content: flex-end;
    }
  }
  .MainMenu_wrapper {
    align-items: center;
    @media #{$tab2} {
      padding: 15px 20px;
    }
    @media #{$tab2} {
      align-items: start;
    }
    li {
      a {
        font-size: 16px;
        font-weight: 500;
        color: #110229;
        display: inline-block;
        padding: 36px 23px;
        @media #{$tab2} {
          padding: 12px 0px;
        }
        &:hover {
          color: $secondary_color;
        }
      }
    }
    .loginBtn {
      margin: 0 24px 0 40px;
      @media #{$tab2} {
        margin: 0;
      }
    }
  }
  &.headerFixed {
    background: #fff;
    z-index: 90;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 3%);
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
  }
}

button.navbar-toggler {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}
.navbar-toggler-icon {
  font-size: 15px;
}
