.offerWidget {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  transition: 0.3s;
  .offerWidget_thumb {
    height: 256px;
    position: relative;
    .offerWidget_head {
      position: absolute;
      left: 12px;
      top: 12px;
      right: 12px;
      z-index: 3;
    }
    .offerWidget_thumb_inner {
      .img_overlay {
        position: relative;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        height: 256px;
        background-repeat: no-repeat;
        border-radius: 8px 8px 0 0;
        &::before {
          content: "";
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 54.17%,
            rgba(0, 0, 0, 0.6035) 100%
          );
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          border-radius: 0px 0px 8px 8px;
          transition: 0.3s;
        }
      }
    }
  }
  .offerWidget_meta {
    padding: 18px 24px 24px 24px;
    @media #{$tab} {
      padding: 18px;
    }
    h4 {
      font-weight: 500;
      font-size: 18px;
      color: #110229;
      transition: 0.3s;
      margin: 0;
      line-height: 26px;
      &:hover {
        color: $secondary_color;
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
      color: #666666;
      margin: 6px 0 18px 0;
      line-height: 20px;
    }
    .offerWidget_prise {
      .discount {
        font-size: 14px;
        font-weight: 400;
        color: #999999;
        position: relative;
        margin-right: 18px;
        &::before {
          content: "";
          position: absolute;
          left: -6px;
          right: -6px;
          height: 1px;
          background: #999999;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .currentPrise {
        font-size: 18px;
        font-weight: 500;
        color: $secondary_color;
        margin: 0 24px 0 23px;
      }
    }
    .appartMent_description {
      border-top: 1px dashed #cdd1d5;
      margin-top: 24px;
      padding-top: 24px;
      @media #{$lg_device} {
        grid-gap: 10px;
      }
      span {
        font-size: 14px;
        font-weight: 400;
        color: #666666;
      }
    }
  }
  &:hover {
    box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.08);
    .offerWidget_thumb .offerWidget_thumb_inner {
      &::before {
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 77.67%,
          rgba(0, 0, 0, 0.4185) 100%
        );
      }
    }
  }
}
