/* 1. Theme default css */

// google fonts
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500&display=swap");

body {
  font-family: $font1;
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  color: $body_text;
  background-color: $body_bg;
}
.img {
  max-width: 100%;
  @include transition(0.3s);
}
a {
  text-decoration: none;
}
a,
.button,
button {
  @include transition(0.3s);
}
a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}
a:focus {
  text-decoration: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  // color: #000;
}
input:focus,
button:focus {
  outline: none;
}
a,
button {
  outline: medium none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
  color: $primary_color;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  color: $body_text;
  margin-bottom: 0;
  font-family: $font1;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

.mb-85 {
  margin-bottom: 85px;
  @media #{$small_mobile} {
    margin-bottom: 30px;
  }
  @media #{$medium_device} {
    margin-bottom: 30px;
  }
  @media #{$lg_device} {
    margin-bottom: 40px;
  }
}
.mb-65 {
  margin-bottom: 65px;
  @media #{$small_mobile} {
    margin-bottom: 20px;
  }
}
.mt-80 {
  margin-top: 80px;
}
.mb_6 {
  margin-bottom: 6px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_12 {
  margin-bottom: 12px;
}
.mb_15 {
  margin-bottom: 15px;
}
.mb_18 {
  margin-bottom: 18px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_23 {
  margin-bottom: 23px;
}
.mb_24 {
  margin-bottom: 24px;
}
.mb_25 {
  margin-bottom: 25px;
}
.mb_27 {
  margin-bottom: 27px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_32 {
  margin-bottom: 32px;
}
.mb_35 {
  margin-bottom: 35px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_42 {
  margin-bottom: 42px;
}
.mb_45 {
  margin-bottom: 45px;
}
.mb_37 {
  margin-bottom: 37px;
}
.mb_50 {
  margin-bottom: 50px;
}
.mb_52 {
  margin-bottom: 52px;
}
.mb_53 {
  margin-bottom: 53px;
}
.mb_55 {
  margin-bottom: 55px;
}
.mb_60 {
  margin-bottom: 60px;
}
.mb_65 {
  margin-bottom: 65px;
}
.mb_70 {
  margin-bottom: 70px;
}
.mb_76 {
  margin-bottom: 76px;
}
.mb_80 {
  margin-bottom: 80px;
}

.mt_10 {
  margin-top: 10px;
}
.mt_15 {
  margin-top: 15px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_10 {
  margin-top: 10px;
}
.mt_30 {
  margin-top: 30px;
}
.mt_40 {
  margin-top: 40px;
}
.mt_50 {
  margin-top: 50px;
}
.mt_60 {
  margin-top: 60px;
}
.mt_70 {
  margin-top: 70px;
}

.mb_27 {
  margin-bottom: 27px;
}

.mr_5 {
  margin-right: 5px;
}
.mr_13 {
  margin-right: 13px;
}
.mr_15 {
  margin-right: 15px;
}
.mr_20 {
  margin-right: 20px;
}
.mr_30 {
  margin-right: 30px;
}
.mr_40 {
  margin-right: 40px;
}
.mr_50 {
  margin-right: 50px;
}
.mr_10 {
  margin-right: 10px;
}
.pt_70 {
  padding-top: 70px;
  @media #{$tab} {
    padding-top: 30px;
  }
}

.xl_mb_60 {
  @media #{$xl_device} {
    margin-bottom: 60px;
  }
  margin-bottom: 30px;
}

#back-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  z-index: 9999999;
  display: none;
  a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    display: block;
    color: $white;
    line-height: 40px;
    background: $secondary_color;
    font-size: 15px;
    border-radius: 30px;
    @include transition(0.3s);
    @include box-shadow(0px 10px 20px 0px rgba(251, 17, 89, 0.3));
  }
}

.home_one {
  #back-top a {
    background: $secondary_color;
    @include box-shadow(0px 10px 20px 0px rgba($secondary_color, 0.3));
  }
}

// preloader

/*/ loader /*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fdff;
  z-index: 99999;
  h3 {
    position: relative;
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 0.2vw $secondary_color;
    text-transform: capitalize;
    font-weight: 600;
    z-index: 0;
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      color: $secondary_color;
      -webkit-text-stroke: 0.2vw $secondary_color !important;
      border-right: 3px solid $secondary_color;
      overflow: hidden;
      animation: typeload 6s linear infinite;
      z-index: 9;
    }
  }
}
@keyframes typeload {
  0%,
  20%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
.container {
  @media #{'(min-width: 1200px) '} {
    max-width: 1440px;
  }
}

.section_spacing {
  padding: 40px 65px 60px 65px;
  @media #{$tab2} {
    padding: 40px 15px 40px 15px;
  }
  @media #{$lg_device} {
    padding: 40px 30px 60px 30px;
  }
}
.section_spacing2 {
  padding: 0px 65px 65px 65px;
  @media #{$tab2} {
    padding: 0px 15px 70px 15px;
  }
  @media #{$lg_device} {
    padding: 40px 30px 60px 30px;
  }
}

.pt_120 {
  padding-top: 120px;
  @media #{$tab} {
    padding-top: 70px;
  }
}

.pb_120 {
  padding-bottom: 120px;
  @media #{$tab} {
    padding-bottom: 70px;
  }
}
.pt_110 {
  padding-top: 110px;
  @media #{$tab} {
    padding-top: 70px;
  }
}
.pt_113 {
  padding-top: 113px;
  @media #{$tab} {
    padding-top: 73px;
  }
}

.pb_110 {
  padding-bottom: 110px;
  @media #{$tab} {
    padding-bottom: 70px;
  }
}
.pb_113 {
  padding-bottom: 113px;
  @media #{$tab} {
    padding-bottom: 73px;
  }
}
.pt_100 {
  padding-top: 100px;
  @media #{$tab} {
    padding-top: 70px;
  }
}

.pb_100 {
  padding-bottom: 100px;
  @media #{$tab} {
    padding-bottom: 70px;
  }
}
.pt_90 {
  padding-top: 90px;
  @media #{$tab} {
    padding-top: 40px;
  }
}

.pb_90 {
  padding-bottom: 90px;
  @media #{$tab} {
    padding-bottom: 40px;
  }
}
.pb_85 {
  padding-bottom: 85px;
  @media #{$tab} {
    padding-bottom: 35px;
  }
}

// font size
.font_10 {
  font-size: 10px;
}
.font_12 {
  font-size: 12px !important;
}
.font_14 {
  font-size: 14px !important;
}
.font_15 {
  font-size: 15px;
}
.font_16 {
  font-size: 16px;
}
.font_18 {
  font-size: 18px;
}
.font_20 {
  font-size: 20px;
}
.font_22 {
  font-size: 22px;
}
.font_25 {
  font-size: 25px;
}
.font_24 {
  font-size: 24px;
}
.font_30 {
  font-size: 30px;
  line-height: 45px;
  @media #{$tab} {
    font-size: 25px;
    line-height: 35px;
  }
}
.font_40 {
  font-size: 40px;
  line-height: 55px;
  @media #{$tab} {
    font-size: 25px;
    line-height: 35px;
  }
}
.font_45 {
  font-size: 45px;
}
.font_50 {
  font-size: 50px;
}
.font_60 {
  font-size: 60px;
}
.font_70 {
  font-size: 70px;
}
.font_80 {
  font-size: 80px;
}

// font weight
.f_w_300 {
  font-weight: 300;
}
.f_w_400 {
  font-weight: 400;
}
.f_w_500 {
  font-weight: 500;
}
.f_w_600 {
  font-weight: 600;
}
.f_w_700 {
  font-weight: 700;
}

.dot_devide {
  display: inline-block !important;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #4b5563;
}

.secondary_text {
  color: $secondary_color !important;
}
.theme_text {
  color: $primary_color !important;
}
.theme_text2 {
  color: $body_text2 !important;
}
.theme_text3 {
  color: $primary_color !important;
}

.mute_text {
  color: #676e8b;
}
.font_1 {
  font-family: $font1;
}

// header style

.pagination_lists {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  li {
    &:not(:last-child) {
      margin-right: 10px;
    }
    a {
      width: 40px;
      height: 40px;
      display: inline-block;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      flex: 40px 0 0;
      text-align: center;
      line-height: 40px;
      transition: 0.3s;
      font-size: 16px;
      color: #656565;
      font-weight: 600;
      &:hover {
        background: #fd1c5e;
        border-color: #fd1c5e;
        color: #fff;
      }
      &.active {
        background: #fd1c5e;
        border-color: #fd1c5e;
        color: #fff;
      }
    }
  }
}

.badge_1 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  background: #fd1c5e;
  border-radius: 30px;
  padding: 4.5px 15px;
}
.badge_2 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  background: #33c922;
  border-radius: 30px;
  padding: 4.5px 15px;
}
.text_underline {
  text-decoration: underline !important;
}

.cursor_default {
  cursor: default !important;
}

.vertical_line {
  height: 15px;
  width: 1px;
  background: #707070;
  display: inline-block;
  &.dark_line {
    background: rgba(0, 0, 0, 0.1);
  }
  &.style2 {
    background: #f1f1f1;
    height: 15px;
  }

  &.style3 {
    background: rgba(241, 241, 241, 0.1);
    height: 15px;
  }
  &.style4 {
    background: #f1f1f1;
    height: 10px;
  }
  &.style5 {
    background: #3b3b3b;
    height: 15px;
  }
}
.vertical_line2 {
  height: 30px;
  width: 1px;
  background: #f1f1f1;
  display: inline-block;
  &.dark_line {
    background: rgba(0, 0, 0, 0.1);
  }
}
.horizontal_line {
  height: 1px;
  width: 30px;
  background: #f1f1f1;
  display: inline-block;
  &.opacity_2 {
    background: rgba(241, 241, 241, 0.2);
  }
}

.border_bottom1px {
  border-bottom: 1px solid #f3f3f3;
}

.border_1px {
  border: 1px solid #ededed;
}
.border2 {
  border: 1px solid #f3f3f3;
}
.border3 {
  border: 1px solid #e3e3e3;
}

.gap_9 {
  grid-gap: 9px;
}
.gap_10 {
  grid-gap: 10px;
}
.gap_15 {
  grid-gap: 15px;
}
.gap_20 {
  grid-gap: 20px;
}
.gap_30 {
  grid-gap: 30px;
}
.gap_25 {
  grid-gap: 25px;
}
.gap_40 {
  grid-gap: 40px;
}
.gap_r15 {
  grid-row-gap: 15px;
}
.gap_c40 {
  grid-column-gap: 40px;
}

.list_disc {
  list-style: disc !important;
}
.list_disc {
  list-style: disc !important;
}

.swiper .swiper-pagination-progressbar {
  background: #cdd1d5;
  position: absolute;
  height: 2px !important;
  top: auto !important;
  left: 0;
  bottom: 0;
  .swiper-pagination-progressbar-fill {
    background: $secondary_color;
    height: 3px !important;
    top: auto;
    bottom: 0;
  }
}

.offerWidget_thumb_inner {
  .swiper-pagination {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    justify-content: center;
    bottom: 14px !important;
    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.8);
      opacity: 1;
      margin: 0 !important;
      &.swiper-pagination-bullet-active {
        background: $white;
        width: 8px;
        height: 8px;
      }
    }
  }
}

.back-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  z-index: 9999999;
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  display: block;
  border: 0;
  color: $white;
  line-height: 40px;
  background: $secondary_color;
  font-size: 15px;
  border-radius: 30px;
  @include transition(0.3s);
  @include box-shadow(0px 10px 20px 0px rgba($secondary_color, 0.2));
}
