// fonts

// home_1 variable
$font1: "Jost", sans-serif;

$primary_color: #110229;
$secondary_color: #007882;
$body_text: #666666;
$body_text2: #676e8b;
$body_text3: #4b5563;
$body_bg: #fafafa;
$black: #000;
/* --------------------------- other common color::start --------------------------- */
$white: #fff;
$common_color: #999999;
$gray-color: #ddd;
$text3: #333333;

// theme colors
$primary_color2: #627ae4;
$primary_color3: #ffd500;
$white: #fff;
$b_color: #f1f1f1;
$btn_bg_2: #4543de;

/* --------------------------- other common color::end --------------------------- */
// responsive query
$small_mobile: "(max-width: 575.98px)";
$large_mobile: "(min-width: 576px) and (max-width: 767.98px)";
$tab: "(max-width: 767.98px)";
$tab2: "(max-width: 991.98px)";
$medium_device: "(min-width: 768px) and (max-width: 991.98px) ";
$lg_device: "(min-width: 992px) and (max-width: 1199.98px)";
$large_xl: "(min-width: 1200px) and (max-width: 1399.98px)";
$xl_device: "(min-width: 1200px)";
$max_lg: "(max-width: 1199.98px)";
$min_large: "(min-width: 1600px)";
$min_lg: "(min-width: 992px)";

$tab_device: "only screen and (min-width: 768px) and (max-width: 991.98px)";
$big_screen: "only screen and (min-width: 1200px) and (max-width: 1440px)";
